
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="programmer" class="org.example.Programmer">
   <!--    <constructor-arg value="28"/>
        <constructor-arg ref="lap"/>-->
        <constructor-arg index="1" value="34"/>
        <constructor-arg index="0" value="12"/>
        <property name="laptop" ref="lap"/>
    </bean>
    <bean id ="lap" class="org.example.Laptop">

    </bean>

</beans>
